.about {
    margin-top: 137px;
    &-img {
        padding-left: 0;
        &__img {
            width: 100%;
            object-fit: contain;
        }
    }
    &-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @media(max-width:575px) {
        .about {
            &-img {
                padding-left: 15px;
                margin-bottom: 25px;
            }
        }
    }
    @media(max-width:975px) {
        .about {
            &-img {
                padding-left: 15px;
                margin-bottom: 25px;
            }
        }
    }
}

.p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}